.tasks-types {
	margin-bottom: 12px;
}

ul.folder-kind {
	list-style: none;
	min-height: 124px;
	border-left: 3px solid #ccc;
	/*
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.13);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.13);
	*/
}

ul.folder-kind > li {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
}
ul.folder-kind > li > a {
	border-radius: 0;
}

ul.folder-kind-system {
  	border-color: #357ebd;
} 

ul.folder-kind-system > li.active > a {
	background-color: #357ebd !important;
}

ul.folder-kind-till {
  	border-color: #398439;
} 

ul.folder-kind-till > li.active > a {
	background-color: #398439 !important;
}

ul.folder-kind-importance {
  	border-color: #eea236;
} 

ul.folder-kind-importance > li.active > a {
	background-color: #eea236 !important;
}

ul.folder-kind-folder {
  	border-color: #ccc;
} 

ul.folder-kind-folder > li.active > a {
	background-color: #ccc !important;
}

.task.priority0 {
	border-left: 3px solid #bbb;
}
.task.priority1 {
	border-left: 3px solid #5CB85C;
}
.task.priority2 {
	border-left: 3px solid #cc2020;
}

.task.closed {
	opacity: 0.5;
	display: none;
}

.task.almost-closed {
	border-right: 3px solid #E8AF35;
	/*border-left: 6px solid #E8AF35;*/
	/*opacity: 0.5;*/
}
.task.almost-closed .task-title{
	text-decoration: line-through;
}

.tasks.container-list {
	margin-bottom: 10em;
}
.task-tools {
	opacity: 1 !important;
}
.task-tools ul{
	background-color: #fff !important;
	opacity: 1 !important;
}

.task-group {
	/*position:absolute;*/
	/*font-size: 1.2em;*/
	margin-top: 2em;
}

.task-group a {
	color: #000 !important;
}

#akop-alerter {
	position: absolute;
	left: 2em;
	bottom: 2em;
	z-index: 1000;
}

.menu-create-but {
	-moz-box-sizing: content-box !important;
	box-sizing:	content-box !important;
}

#nav-tasks .label {
  position: absolute !important;
  right: 4px !important;
  z-index: 100;
  font-size: 90%;
}

#nav-tasks {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.task-main .label {
  position: absolute !important;
  left: -22px !important;
  top: -20px !important;
  z-index: 100;
  font-size: 1em;
}


.task-status-overdue {
	color: #cc2020 !important;
}



.task-deadline-date {
	cursor: pointer;
}